# pasta6
/config.toml
/deploy

# cargo
/target
/.trigger

# yarn/tailwindcss
/node_modules
/static/styles.css

# cargo-flamegraph
/perf.data
/perf.data.old
/flamegraph_*.svg

# rustc -Zself-profile output
/*.events
/*.string_data
/*.string_index

# measureme crox
/chrome_profiler.json

# measureme flamegraph
/rustc.svg
