<!DOCTYPE html>
<html
  lang="en">
  <head>
    <title>{% block title %}pasta6{% endblock %}</title>
    <link
      rel="stylesheet"
      href="/styles.css">
  </head>
  <body>
    <nav
      class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
      <div
        class="flex items-center flex-shrink-0 text-white mr-6">
        <a
          href="/"
          class="font-semibold text-xl tracking-tight hover:text-teal-200">pasta6 &hearts;</a>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>


