{% extends "../../pasta6_core/templates/base.html" %}

{% block content %}
    <div
      class="flex flex-col h-screen justify-center items-center bg-gray-100">
      {% if ctx.current_user().is_some() -%}
      <form
        action="/paste"
        method="POST"
        class="bg-white text-center rounded py-8 px-5 shadow max-w-xs">
        <textarea
          placeholder="Paste your text here"
          name="data"
          class="border-gray-300 mb-4 w-full border-solid border rounded py-2 px-4 focus:shadow-outline"></textarea>
        <button
          type="submit"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
          Upload
        </button>
      </form>
      {% else %}
      <p>Welcome to <strong class="font-bold">{{ ctx.config().get("services.paste.name").unwrap() }}</strong>! This is a text storage site provided as part of the pasta6 network of services.</p>
      <p>Please <a href="{{ ctx.config().get_service_domain("meta").unwrap() }}/register" class="text-blue-600 hover:underline transition ease-in-out duration-150">register</a> or <a href="{{ ctx.config().get_service_domain("meta").unwrap() }}/login" class="text-blue-600 hover:underline transition ease-in-out duration-150">login</a> to create a paste.</p>
      {% endif %}
    </div>
{% endblock %}
