<!DOCTYPE html>
<html
  lang="en">
  <head>
    <title>{% block title %}pasta6{% endblock %}</title>
    <link
      rel="stylesheet"
      href="/styles.css">
  </head>
  <body>
    <nav
      class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
      <div
        class="flex items-center flex-shrink-0 text-white mr-6">
        <a
          href="https://uh.rs/"
          class="font-semibold text-xl tracking-tight hover:text-teal-200">pasta6 &hearts;</a>
      </div>
      <div
        class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          <a href="https://meta.uh.rs/" class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
            meta
          </a>
          <a href="https://paste.uh.rs/" class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4">
            paste
          </a>
        </div>
        <div>
          {% if ctx.current_user().is_some() -%}
          <span
            class="inline-block text-sm md:px-4 pr-4 text-white">Logged in as <a href="https://meta.uh.rs/profile" class="text-teal-200 hover:text-white">{{ ctx.current_user().unwrap().username() }}</a></span>
          <a
            href="https://meta.uh.rs/logout"
            class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 sm:mt-0">Logout</a>
          {% else %}
          <a
            href="https://meta.uh.rs/register"
            class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 sm:mt-0">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
